.secret-card {
  background-color: white;
  box-shadow: 0px 0px 6px #ccc;
  padding: 10px;
  margin: 15px 0px;
  word-break: break-all;
  height: max-content;
  text-align: left;
}

.secret-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.secret-card h2 {
  margin-top: 0px;
  margin-bottom: -5px;
}

.secret-card .secret-content {
  white-space: pre-line;
  font-size: 18px;
}

.btns {
  display: flex;
}

.btns button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.edit-btn {
  color: black;
}

.delete-btn {
  color: black;
}
