.secret-container {
  margin-top: 120px !important;
  max-width: 700px;
  margin: 0px auto;
}

.secret-container .dummy-msg {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin-top: 200px;
}

a {
  text-align: left !important;
  color: #000;
  font-weight: bold;
}
.loading {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .secret-container {
    margin: 100px 20px !important;
  }
}
