.secret-form {
  max-width: 500px;
  margin: 220px auto;
}

.secret-form form h2 {
  text-align: center;
  margin: 0px;
  margin: 0px 0px;
}

.secret-form form {
  box-shadow: 0px 0px 6px #ccc;
  width: 100%;
  text-align: left;
  padding: 10px 20px;
  box-sizing: border-box;
  line-height: 1.5;
  margin-bottom: 20px;
}

.secret-form form input,
.secret-form form button {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}

.secret-form button {
  color: white;
  background-color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px !important;
}

.secret-form form label {
  font-size: 18px;
  font-weight: bold;
}

.secret-form .msg {
  margin: 0px;
}

.secret-form form label {
  font-size: 18px;
}

.secret-form a {
  font-size: 24px;
  color: black;
}

@media screen and (max-width: 750px) {
  .secret-form {
    margin: 150px 20px;
    max-width: auto;
  }
}
